include ../line-path/line-path.pug

.explorer
    .explorer__title Проводник
    .explorer__block
        .explorer__path-wrapper
            ul.explorer__path
                li( data-lv='0').explorer__path-list.explorer__path-main.ico-earth
                    a(href="#") Главная

                li( data-lv='1').explorer__path-list.ico-blog
                    a(href="#") Услуги

                li( data-lv='2').explorer__path-list.ico-blog
                    a(href="#") Бухгалтерские

                li( data-lv='3').explorer__path-list.ico-word
                    a(href="#") Физлицам

                li( data-lv='3').explorer__path-list.ico-word
                    a(href="#") Юрлицам

                li( data-lv='2').explorer__path-list.ico-blog
                    a(href="#") Юидические

                li( data-lv='3').explorer__path-list.ico-word
                    a(href="#") Физлицам

                li( data-lv='3').explorer__path-list.ico-word
                    a(href="#") Юрлицам

                li( data-lv='1').explorer__path-list.ico-word
                    a(href="#") Контакты


        .explorer__edit
