.rightBlock{
  &__wrapper{
    width: 100%;
  }

  &__part{
    width: 100%;
    height: 40px;
    padding: 13px 16px 8px;
    background: @gray-light;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);

    .home {
      height: 15px;
      width: 15px;
      margin: -2px 0 0 0;
      stroke-width: 4px;
    }

  }
}

#stroked-home{
  .line{
    stroke: @color-second;
    stroke-width: 4;
  }
}