.rightBlock__wrapper
    .rightBlock
        .rightBlock__part
            a(href="#")
                <svg class="glyph stroked home"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-home"></use></svg>