@text-size-xxl:                       40px;
@text-size-xl:                        28px;
@text-size-l:                         18px;
@text-size:                           14px;
@text-size-sm:                        11px;

@color-primary:                       #777;
@color-second:                        #30a5ff;
@color-three:                         #ffb53e;
@color-ok:                            #1ebfae;
@color-attention:                     #f9243f;


@gray-dark:                           #5f6468;
@gray:                                #777777;
@gray-light:                          #e9ecf2;
@gray-wight-b:                        #eee;
@gray-wight:                          #f1f4f7;

@font-family:                        "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-h:                      'calibri', sans-serif;

@screen-sm:                           768px;
@screen-md:                           1200px;

@img-path:                            'images/';


.title{
  font-family:                        @font-family-h;
  font-weight:                        700;
  font-size:                          @text-size-xl;
  margin:                             0;
  display:                            block;
  margin:                             0;
  padding:                            0;
  text-align:                         center;
  text-transform:                    uppercase;

  @media (min-width: 468px) {
    font-size:                        @text-size-xl;
  }
}

.description{
@extend .title;
  font-weight:                        500;
  font-size:                          @text-size-l;
  text-transform: none;
}

.wrapper{
  width: 100%;
  min-width: 280px;
  padding: 0 10px;
}

.color-attention{
  color:                              @color-attention;
  font-size:                          @text-size-l;

  &:hover{
    background: rgba(0, 0, 0, 0.25);
  }
}

.span--wrapper{
  padding: 0 5px;
}


