.leftBlock__wrapper
    .leftBlock
        .leftBlock__title  моя навигация
        ul.leftBlock__section.leftBlock__section--select
            li.select Explorer
        ul.leftBlock__section
            li.ico-blog Блог
            li.ico-news Создать страницу
        ul.leftBlock__section
            li.ico-comments Отзывы
            li.ico-news Создать отзыв
            li.ico-camera Загрузить фото