.LeftBlock__wrapper
    .LeftBlock
        .LeftBlock__title  моя навигация
        ul.LeftBlock__section
            li Explorer
        ul.LeftBlock__section
            li.FAblog Блог
            li.FAnews Создать страницу
        ul.LeftBlock__section
            li.FAcomments Отзывы
            li.FAnews Создать отзыв
            li.FAcamera Загрузить фото