.line-path
    a.line-path__icon(href="#")
        <svg class="glyph stroked home"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#stroked-home"></use></svg>
    span.slesh  /
    a.line-path__name(href="#")  Проводник
